<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Resume of {{name}}</title>
	<link rel="stylesheet" href="{{meta.root}}/style.css">
</head>
<body>
	<header class="main">
		<h1>{{name}}</h1>
		<h2>{{title}}</h2>
	</header>

	<header class="sub">
		<div class="item">Född: {{born}}</div>
		<div class="item">Email: {{email}}</div>
		<div class="item">Plats: {{residence}}</div>
	</header>

	<aside>
		<img src="{{meta.root}}/profile.jpg" alt="">
		<article class="entry">
			<h3>Hitta Mig</h3>
			{% for portal in social_portals %}
				<p><a href="{{portal.url}}">{{portal.title}}</a></p>
			{% endfor %}
		</article>

		<article class="entry">
			<h3>IT-Kunskaper</h3>
			{% for key, technology in technologies %}
				<h4>{{key|capitalize}}</h4>
				<p>{{technology}}</p>
			{% endfor %}
		</article>

		<article class="entry">
			<h3>Språk</h3>
			<ul>
				{% for lang in spoken_languages %}
					<li>{{lang.language}} – {{lang.level}}</li>
				{% endfor %}
			</ul>
		</article>
	</aside>

	<div class="main">
		<article class="entry">
			<h3>Profil</h3>
		{% for bio_part in bio %}
					<p>{{bio_part}}</p>
				{% endfor %}
		</article>

		<article class="entry">
			<h3>Job Erfarenhet</h3>
			<ul>
				{% for job in job_history %}
					<li>
						<strong>{{job.employer}}</strong><br>
						{{job.date}}<br>
						{{job.role}}
					</li>
				{% endfor %}
			</ul>
		</article>

		<article class="entry">
			<h3>Mina Projekt</h3>
			<ul>
				{% for project in projects %}
					<li>
						<strong>{{project.title}}</strong>
						<br>
						{{project.description}}
						<br>
						<a href="{{project.url}}">Besök Projektet</a>
					</li>
				{% endfor %}
			</ul>
		</article>

		<article class="entry">
			<h3>Utbildning</h3>
			<ul>
				{% for edu in education %}
					<li>
						{{edu.date}}<br>
						{{edu.description}}
					</li>
				{% endfor %}
			</ul>
		</article>
	</div>
</body>
</html>